<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这个是index页面</title>
</head>
<body>
    <h2>插入商品的表单</h2>
    <form action="http://localhost:8080/insertFoods">
        商品名字<input type="text" name="foodsname"><br>
        商品类型<input type="text" name="typeid"><br>
        商品介绍<input type="text" name="foodsinfo"><br>
        商品图片1<input type="text" name="image1"><br>
        商品图片2<input type="text" name="image2"><br>
        商品图片3<input type="text" name="image3"><br>
        店家id<input type="text" name="userid"><br>
        店家<input type="text" name="username"><br>
        起拍价格<input type="text" name="startprice"><br>
        要求时限<input type="text" name="hours"><br>
        交易场所<input type="text" name="place"><br>
        <input type="submit">
    </form>
</body>
</html>