<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>后台管理</title>
    <link href="../css/login.css" rel="stylesheet" type="text/css" />
</head>



<body>
<div class="login_box">
    <div class="login_l_img"><img src="../images/login-img.png" /></div>
    <div class="login">
        <div class="login_logo"><a href="#"><img src="../images/login_logo.png" /></a></div>
        <div class="login_name">
            <p>后台管理系统</p>
        </div>
        <form method="post" action="loginCheck">
            <input id="username" name="username" type="text"  value="用户名" >
            <input id="password" name="password" type="password"  />
            <input value="登录" style="width:100%;" type="submit" >
        </form>
    </div>
</div>
<div style="text-align:center;">
</div>
</body>
</html>

