<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->
   
        <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>


    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>


    <script>
        //四个排行榜

        //拍卖总价格排行榜
        function fun1() {
            var phVue1= new Vue({
                el: '#ph1',
                data: {
                    items: []
                },

            });
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/getPidPricesThree",
                dataType:"json",
                header: {
                    'content-type': 'application/json' // 默认值
                },
                success:function(data){
                    phVue1.items=data
                },
            });
        };

        //拍卖总次数排行榜
        function fun2() {
            var phVue2= new Vue({
                el: '#ph2',
                data: {
                    items: []
                },

            });
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/getPidTimesThree",
                dataType:"json",
                header: {
                    'content-type': 'application/json' // 默认值
                },
                success:function(data){
                    phVue2.items=data
                },
            });
        };

        //拍卖总次数排行榜
        function fun3() {
            var phVue3= new Vue({
                el: '#ph3',
                data: {
                    items: []
                },

            });
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/getOrderPriceThree",
                dataType:"json",
                header: {
                    'content-type': 'application/json' // 默认值
                },
                success:function(data){
                    phVue3.items=data
                },
            });
        };

        //拍卖评论次数排行榜
        function fun4() {
            var phVue4= new Vue({
                el: '#ph4',
                data: {
                    items: []
                },

            });
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/getCommentsThree",
                dataType:"json",
                header: {
                    'content-type': 'application/json' // 默认值
                },
                success:function(data){
                    phVue4.items=data
                },
            });
        };


    </script>


    <script>

        //用户的拍卖记录
        function sell(userid) {
            var sellVue= new Vue({
                el: '#sellDetail',
                data: {
                    items: []
                },

            });
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/getFoodsOrderBySellerId",
                data:{
                    sellerId:userid
                },
                dataType:"json",
                header: {
                    'content-type': 'application/json' // 默认值
                },
                success:function(data){
                    sellVue.items=data
                },
            });
        };



        //格式补零
        var padDate = function (value) {
            return value <10 ? '0' + value:value;
        };

        //用户的竞拍记录
        function pid(userid) {
            var pidVue= new Vue({
                el: '#pidDetail',
                data: {
                    items: []
                },
                filters: {
                    //时间格式化过滤
                    formatDate: function (value) {
                        var date = new Date(value);
                        var year = date.getFullYear();
                        var month = padDate(date.getMonth() + 1);
                        var day = padDate(date.getDate());
                        var hours = padDate(date.getHours());
                        var minutes = padDate(date.getMinutes());
                        var seconds = padDate(date.getSeconds());
                        return year + '-' + month + '-' + day + '-' + ' ' + hours + ':' + minutes + ':' + seconds;
                    }
                }
            });
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/getPidsByBuyer",
                data:{
                    buyerid:userid
                },
                dataType:"json",
                header: {
                    'content-type': 'application/json' // 默认值
                },
                success:function(data){
                    pidVue.items=data

                },
            });
        };


        //用户的详细信息
        function detail(userid) {
            var userVue= new Vue({
                el: '#userDetail',
                data: {
                    user: []
                }
            });
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/getUserById",
                data:{
                    userid:userid
                },
                dataType:"json",
                header: {
                    'content-type': 'application/json' // 默认值
                },
                success:function(data){
                    userVue.user=data
                },
            });
        };
        //所有用户的信息
        function allUsers() {
            var vue1= new Vue({
                el: '#userTbody',
                data: {
                    items: []
                },
                methods:{
                    //查看详情
                    buttonDetail :function (userid) {
                        detail(userid)
                    },
                    //竞拍记录
                    buttonPid :function (userid) {
                        pid(userid)
                    },
                    //拍卖记录
                    buttonSell :function (userid) {
                        sell(userid)
                    },

                }
            });
            $.ajax({
                type:"GET",
                url:"http://localhost:8080/allUsers",
                dataType:"json",
                header: {
                    'content-type': 'application/json' // 默认值
                },
                success:function(data){
                    vue1.items=data
                },
            });

        }
    </script>

    <script>


    </script>
    <script>



        $(document).ready(function () {
            $('#dataTables-example').dataTable();

            //所有用户的信息
            allUsers();


            //排行榜加载
            fun1()
            fun2()
            fun3()
            fun4()

            //数据的清空
            $('#myModal1').on('hidden.bs.modal', function (){
                //重新加载页面  哈哈  牛皮
                location.reload();
            });
            $('#myModal2').on('hidden.bs.modal', function (){
                //重新加载页面  哈哈  牛皮
                location.reload();
            });
            $('#myModal3').on('hidden.bs.modal', function (){
                //重新加载页面  哈哈  牛皮
                location.reload();
            });

        });
    </script>





</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index"><i class="fa fa-gear"></i> <strong>拍卖系统后台管理</strong></a>
            </div>

        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="index"><i class="fa fa-dashboard"></i> 总览</a>
                    </li>


                    <li>
                        <a href="table"><i class="fa fa-table"></i> 用户管理</a>
                    </li>

                    <li>
                        <a href="table2"><i class="fa fa-table"></i> 商品管理</a>
                    </li>

                    <li>
                        <a href="table3"><i class="fa fa-table"></i> 订单管理</a>
                    </li>



                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            用户信息统计模块
                        </h1>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                用户信息表
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                        <tr>

                                            <th>用户ID</th>
                                            <th>学号</th>
                                            <th>昵称</th>
                                            <th>大学阶段</th>
                                            <th>所在学院</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="userTbody">
                                    <tr class='gradeA odd'  v-for="item in items">
                                        <td class='center'>{{item.userid}}</td>
                                        <td class='center'>{{item.studentid}}</td>
                                        <td class='center'>{{item.nickname}}</td>
                                        <td class='center'>{{item.stage}}</td>
                                        <td class='center'>{{item.school}}</td>
                                        <td class='center'>
                                            <button  @click="buttonDetail(item.userid)" class='btn btn-primary btn-sm' data-toggle='modal' data-target='#myModal1'>查看详情</button>
                                            <button @click="buttonPid(item.userid)"  class='btn btn-primary btn-sm' data-toggle='modal' data-target='#myModal2'>竞拍记录</button>
                                            <button @click="buttonSell(item.userid)"  class='btn btn-primary btn-sm' data-toggle='modal' data-target='#myModal3'>拍卖纪录</button>
                                            </td></tr>;
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="height: 50px; text-align:center">
                                用 户 排 行 榜
                            </div>
                        </div>
                    </div>
                </div>


                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                  <!--   Kitchen Sink -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            买家消费排行榜
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#排名#</th>
                                            <th>用户ID</th>
                                            <th>昵称</th>
                                            <th>总消费</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ph1">
                                    <tr v-for="(item,index) in items">
                                        <td>{{index+1}}</td>
                                        <td>{{item.buyerId}}</td>
                                        <td>{{item.nickName}}</td>
                                        <td>{{item.price}} 元</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>






                    <!-- End  Kitchen Sink -->
                </div>
                <div class="col-md-6">
                     <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            竞拍次数排行榜
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#排名#</th>
                                            <th>用户ID</th>
                                            <th>昵称</th>
                                            <th>竞拍次数</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ph2">
                                        <tr v-for="(item,index) in items">
                                            <td>{{index+1}}</td>
                                            <td>{{item.buyerId}}</td>
                                            <td>{{item.nickName}}</td>
                                            <td>{{item.time}} 次</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                      <!-- End  Basic Table  -->
                </div>
            </div>
                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                      <!--    Striped Rows Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            商家成交额排行榜
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#排名#</th>
                                            <th>用户ID</th>
                                            <th>昵称</th>
                                            <th>成交额</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ph3">
                                    <tr v-for="(item,index) in items">
                                        <td>{{index+1}}</td>
                                        <td>{{item.sellerId}}</td>
                                        <td>{{item.sellerName}}</td>
                                        <td>{{item.price}} 元</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  End  Striped Rows Table  -->
                </div>

                <div class="col-md-6">
                    <!--    Bordered Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            评价次数排行榜
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#排名#</th>
                                            <th>学号</th>
                                            <th>昵称</th>
                                            <th>评论次数</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ph4">
                                    <tr v-for="(item,index) in items">
                                        <td>{{index+1}}</td>
                                        <td>{{item.userId}}</td>
                                        <td>{{item.nickName}}</td>
                                        <td>{{item.time}} 次</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                     <!--  End  Bordered Table  -->
                </div>
            </div>

        </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></footer>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery /easypiechart-data.jsJs -->
    <!-- jQuery /easypiechart-data.jsJs -->




    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        用户信息
                    </h4>
                </div>
                <div class="modal-body" id="userDetail">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">
                                       账号信息
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body" >
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>

                                                </thead>
                                                <tbody >
                                                <tr>
                                                    <td>学号</td>
                                                    <td >{{user.studentid}}</td>

                                                </tr>
                                                <tr>
                                                    <td>昵称</td>
                                                    <td >{{user.nickname}}</td>                                                </tr>
                                                <tr>
                                                    <td>手机号</td>
                                                    <td >{{user.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td>邮箱</td>
                                                    <td >{{user.email}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo">
                                        基本信息
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>

                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>姓名</td>
                                                <td>{{user.username}}</td>

                                            </tr>
                                            <tr>
                                                <td>性别</td>
                                                <td>{{user.gender}}</td>                                                </tr>
                                            <tr>
                                                <td>年龄</td>
                                                <td>{{user.age}}</td>
                                            </tr>
                                            <tr>
                                                <td>住址</td>
                                                <td>{{user.address1}}-{{user.address2}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree">
                                        学校信息
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>

                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>学院</td>
                                                <td>{{user.school}}</td>

                                            </tr>
                                            <tr>
                                                <td>专业</td>
                                                <td>{{user.major}}</td>                                                </tr>
                                            <tr>
                                                <td>班级</td>
                                                <td>{{user.classname}}</td>
                                            </tr>
                                            <tr>
                                                <td>宿舍住址</td>
                                                <td>{{user.dorm}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>























    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">
                        竞拍记录
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="accordion2">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>商品id</th>
                                        <th>商品名称</th>
                                        <th>竞拍价格</th>
                                        <th>竞拍时间</th>
                                    </tr>
                                    </thead>
                                    <tbody id="pidDetail">
                                    <tr  v-for="(item,index) in items">
                                        <td>{{index+1}}</td>
                                        <td>{{item.foodsid}}</td>
                                        <td>{{item.foodsname}}</td>
                                        <td>{{item.pidprice}} 元</td>
                                        <td>{{item.pidtime|formatDate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>



    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">
                        拍卖纪录
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="accordion3">


                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>商品id</th>
                                        <th>商品名称</th>
                                        <th>起拍价格</th>
                                        <th>交易场所</th>
                                    </tr>
                                    </thead>
                                    <tbody id="sellDetail">
                                    <tr  v-for="(item,index) in items">
                                        <td>{{index+1}}</td>
                                        <td>{{item.foodsid}}</td>
                                        <td>{{item.foodsname}}</td>
                                        <td>{{item.sellerprice}} 元</td>
                                        <td>{{item.tranplace}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


</body>
</html>



