<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>插入商品的表单</h2>
<form action="http://localhost:8080/insertUser">

    学生卡号<input type="text" name="studentid"><br>
    学生密码<input type="text" name="psword"><br>
    手机<input type="text" name="phone"><br>
    邮箱<input type="text" name="email"><br>
    头像<input type="text" name="photo"><br>
    昵称<input type="text" name="nickname"><br>
    签名<input type="text" name="autograph"><br>
    姓名<input type="text" name="username"><br>
    性别<input type="text" name="gender"><br>
    生日<input type="date" name="birthday"><br>
    住址1<input type="text" name="address1"><br>
    住址2<input type="text" name="address2"><br>
    大学<input type="text" name="university"><br>
    学院<input type="text" name="school"><br>
    专业<input type="text" name="major"><br>
    班级<input type="text" name="classname"><br>

    阶段<input type="text" name="stage"><br>
    宿舍<input type="text" name="dorm"><br>
    是否认证<input type="text" name="authentication"><br>
    <input type="submit">
</form>
</body>

<h2>检查用户登录</h2>
<form action="http://localhost:8080/checkLogin">
    卡号<input type="text" name="studentid"><br>
    密码<input type="text" name="psword"><br>
    <input type="submit">
</form>
</html>