<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lutong.ershow.mapper.PidMapper">
  <resultMap id="BaseResultMap" type="com.lutong.ershow.bean.Pid">
    <result column="pidId" jdbcType="INTEGER" property="pidid" />
    <result column="foodsId" jdbcType="INTEGER" property="foodsid" />
    <result column="foodsName" jdbcType="VARCHAR" property="foodsname" />
    <result column="buyerId" jdbcType="INTEGER" property="buyerid" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="pidTime" jdbcType="TIMESTAMP" property="pidtime" />
    <result column="pidPrice" jdbcType="DOUBLE" property="pidprice" />
  </resultMap>
  <insert id="insert" parameterType="com.lutong.ershow.bean.Pid">
    insert into pid (pidId, foodsId, foodsName ,buyerId,
      nickName, pidTime, pidPrice
      )
    values (#{pidid,jdbcType=INTEGER}, #{foodsid,jdbcType=INTEGER},#{foodsname,jdbcType=VARCHAR}, #{buyerid,jdbcType=INTEGER},
      #{nickname,jdbcType=VARCHAR}, #{pidtime,jdbcType=TIMESTAMP}, #{pidprice,jdbcType=DOUBLE}
      )
  </insert>

  <!--更新订单表-->
  <update id="updateMaxPid"  parameterType="com.lutong.ershow.bean.Pid" >
    update foodsOrder set buyerId =#{buyerid}, buyerName =#{buyername}, buyerPrice=#{buyerprice}
    where foodsId =#{foodsid}
  </update>

  <!--&lt;!&ndash;获取某个物品所有的竞拍信息&ndash;&gt;-->
  <select id="getPids" parameterType="com.lutong.ershow.bean.Pid"  resultType="com.lutong.ershow.bean.Pid">
      select * from pid where  foodsId = #{foodsid} order by pidTime desc;
  </select>


  <!--某个人竞拍过的记录-->
  <select id="getPidsByBuyer" parameterType="Integer" resultType="com.lutong.ershow.bean.Pid">
    select * from pid where  buyerId = #{buyerid}  order by pidTime desc;
  </select>
  
  
  <!--获取某天的次数-->
  <select id="getCountByDay" parameterType="com.lutong.ershow.utils.TimeFormat" resultType="Integer">
    select count(*) from  pid
	where year(pidTime) =#{year}
	and  month(pidTime) =#{month}
	and day(pidTime) =#{day}
  </select>

  <!--获取某天的次数-->
  <select id="getOrderTimes" parameterType="com.lutong.ershow.utils.TimeFormat" resultType="Integer">
    select count(*) from  foods
	where year(startTime) =#{year}
	and  month(startTime) =#{month}
	and day(startTime) =#{day}
  </select>
  
  
  <!--获取竞拍总次数前三-->
  <select id="getPidTimesThree" resultType="java.util.HashMap">
      select count(*) time,buyerId,nickName
      from  pid
      GROUP BY  buyerId
      order by  count(*)  desc
      LIMIT 0,3
  </select>

  <!--总消费前三-->
  <select id="getPidPricesThree" resultType="java.util.HashMap">
    select   truncate(sum(buyerPrice),2) price,buyerId,buyerName nickName
    from  foodsOrder
		WHERE buyerId is not null
    GROUP BY  buyerId
    order by   price desc
    LIMIT 0,3
  </select>

  <!--盈利前三-->
  <select id="getOrderPriceThree" resultType="java.util.HashMap">
    select sum(buyerPrice) price,sellerId,sellerName
    from  foodsOrder
    GROUP BY  sellerId
    order by   sum(buyerPrice) desc
    LIMIT 0,3
  </select>

  <!--评价最多的前三-->
  <select id="getCommentsThree" resultType="java.util.HashMap">
  select count(*) time,userId,nickName
  from  comments
  GROUP BY  userId
  order by  count(*)  desc
  LIMIT 0,3
</select>


  <!--单个竞价前三-->
  <select id="getPidThree" resultType="java.util.HashMap">
    select foodsId,foodsName,max(pidPrice) price
from pid
GROUP BY foodsId
order by price  DESC
limit 0,3
  </select>

  <!--单个竞价前三-->
  <select id="getPidTimeThree" resultType="java.util.HashMap">
    select foodsId,foodsName,count(*) time
from pid
GROUP BY foodsId
order by time  DESC
limit 0,3
  </select>



</mapper>